body {
    /* background-color: #3DE07E; */
   
}

/* HEADER */

header {
    background-color: #3DE07E;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
  
}

img {
   grid-column: 2/3;
   grid-row: 3/4;
   place-self: center;
}

h1 {
    font-size: 3rem;
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: center;   
}

/* Hamburgarmeny */
aside {
    padding: 1rem;
}



/* MAIN */

.wrapper {
    background-color: rgb(26, 21, 21);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    gap:1rem;
    padding: 3rem;
    
    
    
}

.card {
    padding-top: 3rem;
    /* width: 100%; */
    
    

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr); */

    
}

.card > img {
    width: 20rem;

}


p, h2 {
    color: white;
    width: 20rem;
    
}

button {
   background-color: #E83F57; 
   color: white;
   width: auto;
   height: 2rem;
   
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.big-card {
   place-self: center;
    
}








@media(max-width:900px) {
    .card {
        width: 45%;

    }

}

@media(max-width:600px) {
    .card {
        width: 100%;
    }
    


}