
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5, h6, p, button {
    font-family: fira sans;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header {
    background-color: #3DE07E;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
  
}

img {
   grid-column: 2/3;
   grid-row: 3/4;
   place-self: center;
}

h1 {
    font-size: 3rem;
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: center;   
}

/* Hamburgarmeny */
aside {
    padding: 1rem; 
}



/* MAIN */

.wrapper {
    background-color: rgb(26, 21, 21);

    padding: 3rem 7rem;
    gap: 3rem;
    

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    
    
    
}

.card {
    grid-column: span 2;
    padding-bottom: 2rem;
    
    
}

.card > img {
    width: 100%;
    margin-bottom: .5rem;

}


p, h2 {
    color: white;
    margin-top: 1rem;
}

button {
   background-color: #E83F57; 
   color: white;
   
   
   padding: 1rem;
   margin-top: 1.5rem;
   
   border-radius: .3rem;
   border-style: none;
   /* place-self: center; */
   
   /* justify-content: space-between; */
   
}


.big-card {
    
    padding-top: 3rem;
    grid-column: span 3; 
    
    

    
    

}


.big-card > figure {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    
    
}



.big-card > figure > img {

    /* object-fit: contain; */
    height: auto;
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;



}


.big-card > section {
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    
}


.big-card > section > p {
    /* max-width: 39rem; */
    color:black
}


.big-card > section > h2 {
    /* max-width: 39rem; */ /*tog bort rem på bilder och text, satte 100% ist*/
    color:black
}



/* FOOTER */

footer {
    background-color: rgb(64, 64, 64);
    padding-bottom: 6rem;
    place-items: center;
}



footer > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem; 
}



.social-media {
    grid-column: 3/4; 
}



.icons > img {
    margin: .5rem;
}



.link {
    text-decoration: none;
    color: #ffffff;

    grid-column: 1/2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    

}



footer > section > nav > h2{
    grid-column: 1/2;
    grid-row: 1/2;

}





/* RESPONSIV */



/* @media(min-width:900px) {
    .card {
        width: 45%;

    }

} */


 @media (min-width: 601px) and (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        grid-column: span 1;
        
    }

    .big-card {
        grid-column: auto / span 2;
        
    }

}


 @media (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    
    .card {
        grid-column: span 1;
        
    }

    .big-card {
        grid-column: auto / span 1;
    }
}  